version: '3.8'

#TODO Redis warning fix

services:
  redis:
    image: redis:7.2.3-alpine
    ports:
      - "${REDIS_PORT}:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: on-failure
  #    volumes:
  #      - redis_data:/data


  redisinsight:
    image: redislabs/redisinsight:1.14.0
    ports:
      - "8001:8001"
    volumes:
      - redisinsight_data:/db
    depends_on:
      - redis


volumes:
  redis_data:
  redisinsight_data: