version: '3.8'

services:


  nginx: 
    image: nginx:1.25.3-alpine-slim
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./app/tgbot:/app/tgbot


  tgbot:
    build:
      context: app/tgbot
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    restart: always

  
  
  redis:
    image: redis:7.2.3-alpine
    ports:
      - "${REDIS_PORT}:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: on-failure
    volumes:
      - redis_data:/data


  redisinsight:
    image: redislabs/redisinsight:1.14.0
    ports:
      - "8001:8001"
    volumes:
      - redisinsight_data:/db
    depends_on:
      - redis


volumes:
  redis_data:
  redisinsight_data:
