Ваші дані

Ім'я: {{ data.get('FirstName') }}
Прізвище: {{ data.get('LastName') }}
По батькові: {{ data.get('MiddleName') }}
Вулиця: {{ data.get('Street') }}
Номер будинку: {{ data.get('House') }}
{% if data.get('Flat') != None %}
    Квартира {{ data.get('Flat') }}
{% endif %}
Стать: {{ data.get('Gender') }}