Пошта: {{ data.get('Email') }}

Ім'я: {{ data.get('FirstName') }}
Прізвище: {{ data.get('MiddleName') }}
По батькові: {{ data.get('LastName') }}
Телефон: {{ data.get('Phone') }}
Пароль: {{ data.get('Password') }}
{% if data.get('City') != None %}
Нас. пункт: {{ data.get('City') }}
{% endif %}
{% if data.get('Street') != None %}
Вулиця: {{ data.get('Street') }}
{% endif %}
{% if data.get('House') != None %}
Номер будинку: {{ data.get('House') }}
{% endif %}
Підтверджуйте 👇