Зі мною можна швидко та зручно 👇

✅ дізнатися про ремонтні роботи міста;
✅ відслідкувати статус актуальних звернень;
✅ переглянути історію звернень;
✅ оцінити роботу підприємств міста;
✅ користуватися довідковою інформацією.

